.main-container {
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 1024px) {
    padding-left: 0px;
    padding-right: 0px;
  }
  @media (min-width: 1440px) {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  // padding: 0 20px 0 20px;
  @media (min-width: 768px) {
    padding-left: 10px;
    padding-right: 10px;
  }
    @media (min-width: 1024px) {
    padding-left: 0px;
    padding-right: 0px;
  }
  @media (min-width: 1440px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  // padding: 20px;
}
input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  // transition:.3s;
}

.inputWithIcon {
  position: relative;
  // width: 400px;
}

.inputWithIcon i {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  // transition:.3s;
}
.sort-by {
  padding-top: 9px;
}
select {
  height: 35px;
  border: 2px solid #aaa;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 20px;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}
.img {
  width: 30px;
  height: 30px;
}
.pagination {
  display: flex;
  justify-content: center;
}